@keyframes overlayMove {
	from {
		background-position: 0% 0%;
	}

	to {
		background-position: 0% 100%;
	}
}

@keyframes borderImageOutsetBobbing {
	0% {
		border-image-outset: 8px;
	}
	50% {
		border-image-outset: 16px;
	}
	100% {
		border-image-outset: 8px;
	}
}

.cardOverlay {
	position: absolute;
	inset: 0px;

	--line-thickness: 4px;

	background: linear-gradient(
		rgb(from var(--primary-color) r g b / 0.1),
		rgb(from var(--primary-color) r g b / 0.1) var(--line-thickness),
		transparent var(--line-thickness),
		transparent calc(var(--line-thickness) * 2)
	);

	background-size: 100% calc(var(--line-thickness) * 2);
	background-repeat: repeat-y;

	animation: overlayMove 22s infinite linear;
}

//INFO: MAIN SETUP
.card {
	--center: translate(-50%, -60%);
	--rotate: rotate(calc(12deg * var(--value)));

	--default: var(--center) var(--rotate);

	&[positioning="none"] {
		transform: translate(-50%, -50%);
		opacity: 0;
	}

	&[positioning="fixed"] {
		position: absolute;
		left: var(--x);
		top: var(--y);

		display: block;

		transform: scale(1) translate(-50%, -50%) rotate(0deg);
	}

	&[positioning="hand"] {
		position: absolute;
		top: 50%;
		left: 50%;

		transform-origin: center 2000px;
		transform: var(--default);

		&:hover {
			transform: var(--default) translate(0, -20%);

			z-index: 3;
		}
	}

	&[state="locked"] {
		pointer-events: none;
	}

	&[state="selected"] {
		transform: var(--default) translate(0, -20%);
		z-index: 3;

		&::after {
			content: "";
			opacity: 1;

			border-image-outset: 16px;
		}
	}

	&::after {
		position: absolute;
		inset: 0;

		opacity: 0;

		content: "";
		box-sizing: border-box;

		border: solid 32px;
		border-image: url("/src/assets/uiSprites/HighlightSlot_26x26.png") 10;
		border-image-outset: 0px;
		image-rendering: pixelated;

		transition: all 100ms ease-in-out;
	}

	--value: 0;

	position: absolute;
	--x: 0px;
	--y: 0px;
	--card-bg-color: #1b1d24;

	transform-origin: center center;
	transition: all 100ms ease-out;

	background-color: var(--card-bg-color);
	border: 2px solid hsl(from var(--card-bg-color) h calc(s) calc(l * 1.5));
	border-radius: 5px;
	z-index: 2;

	&.enemy .imgCont {
		transform: scaleX(-1);
	}

	&:hover {
		cursor: pointer;
	}

	> .cardInsHolder {
		box-sizing: border-box;
		position: absolute;

		display: grid;
		justify-items: center;

		inset: 3px;

		font-family: "fira code";

		.imgHolder {
			width: 100%;
			height: 58%;

			border: 4px ridge #000000;
			border-radius: 5px;
			background: rgb(70, 70, 70);
			box-sizing: border-box;
		}

		.cardDesc {
			position: absolute;
			bottom: 0;
			width: 100%;
			height: 40%;
			box-sizing: border-box;

			display: grid;
			justify-items: center;

			border: 4px ridge #000000;
			border-radius: 5px;
			background: rgb(70, 70, 70);

			font-size: 1em;
			color: white;
			text-align: center;
			align-content: center;
		}

		.cardName {
			position: absolute;
			width: 70%;
			height: 8%;
			top: -6%;

			text-align: center;
			align-content: center;

			border: 4px ridge hsl(from var(--card-bg-color) h calc(s * 1.5) calc(l * 2));
			border-radius: 3px;
			background: hsl(from var(--card-bg-color) h calc(s) calc(l * 1.2));

			color: azure;
		}
	}
}

.cardGeneral {
	transform: translate(-50%, -50%);
	position: absolute;
	top: var(--y);
	left: var(--x);
	--x: 0px;
	--y: 0px;

	display: block;

	transition: all 100ms ease-out;
}

.cardPlaceholder {
	&[state="enabled"] {
		opacity: 0.6;
		z-index: 3;
	}

	&[state="selected"] {
		opacity: 1;
	}

	&[state="disabled"] {
		pointer-events: none;
	}

	transform: scale(1) translate(-50%, -50%) rotate(0deg);

	opacity: 0.2;
	z-index: 1;

	border-radius: 1rem;
	background-color: rgb(53, 53, 53);

	&:hover {
		opacity: 1;
		cursor: pointer;
	}
}

.cardSelector {
	&[state="enabled"] {
		opacity: 1;
		animation: borderImageOutsetBobbing 2s infinite ease-in-out;
	}

	&[state="selected"] {
		opacity: 1;
		border-image-outset: 16px;
	}

	&[state="disabled"] {
		opacity: 0;
		border-image-outset: 8px;
	}

	opacity: 0;

	transition: all ease-in-out 200ms;
	z-index: 0;

	box-sizing: border-box;

	border: solid 32px;
	border-image: url("/src/assets/uiSprites/HighlightSlot_26x26.png") 10;
	image-rendering: pixelated;
}

// INFO: COMPONENTS

.healthDefault_c {
	position: absolute;
	left: -10%;
	top: 70%;

	width: 10%;
	height: 20%;

	border: 4px ridge #000000;
	border-radius: 8px;

	overflow: hidden;
}

.counterTrigger_c {
	display: block;
	position: absolute;
	width: 50%;
	height: 10%;
	bottom: -5%;

	border-radius: 5px 5px 0 0;
	background: rgb(29, 29, 29);
	.tick.active {
		box-shadow: 0 0 10px var(--primary-color);
	}
}
